.board {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    height: 100%;
    max-height: 82vh;
    color: var(--text-color);
  }
  .board__cards {
    padding: 0.5rem 0.5rem;
    overflow-y: auto;
    scrollbar-width: none; 
  }
  .board__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    margin-bottom: 0;
   
  }
 
  .board__top > div > p {
    font-weight: bolder;
  }
  .total__cards {
    font-size: 12px;
    border-radius: 15px 15px 15px 15px;
    padding-inline: 0.6rem;
    border: 0.5px solid var(--card-box-shadow);
    background-color: var(--card-color);
    margin-inline: 10px;
  }
  .board__number{
    margin-left: 0.5rem;
    font-weight: 400;
    color: gray;
  }

  /* Icons */
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
