.custom__card {
    background-color: var(--card-color);
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--card-box-shadow);
    padding-inline: 0.5rem;
    padding-bottom: 0.4rem;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .card__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
  }

  .card__title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
  }
  .card__tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    border-radius: 8px;
    margin-right: 0.5rem; 
    padding: 0.5rem 0.3rem;
    font-size: 14px;
    color: gray;
    border: 0.3px solid gray;   
  }

  .card__circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 0.3rem;
  }
  .card__not{
    display: flex;
    color: gray;
    font-size: 14px;
    font-weight: 600;
  }
  .card__noti{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    border: 0.3px solid gray; 
    width: fit-content;
    border-radius: 8px;
    margin-right: 0.5rem; 
  }
  .card__img{
    width: 35px;
    height: 35px;
  }
  .card__status {
    width:10px;
    height:10px;
    border:2px solid white;
    position:absolute;
    bottom:2%;
    right:2%;
    border-radius:100%;
  }
  .card__avatar {
    position:relative;
    display:inline-block;
  }



/* Icons */


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
