
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f3;
  transition: all 350ms;
}
.Quicksell__outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.Quicksell__boards {
  margin-top: 20px;
  min-width: fit-content;
  display: flex;
  gap: 30px;
  padding-inline: 2rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

